<div class="ourproductSection">
    <div class="main_product">
        <h1>Our Products</h1>
        <span>
            <a href="./pages/productnames.html">see more of our products</a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </span>
    </div>
    <div class="main_product-cards">
        <div class="product-cards">
            <img src="./assets/gallery 6.jpeg" alt="" class="product-cardImage">
        </div>
        <div class="product-cards">
            <img src="./assets/gallery 9.jpeg" alt="" class="product-cardImage">
        </div>
        <div class="product-cards">
            <img src="./assets/gallery 10.jpeg" alt="" class="product-cardImage">
        </div>
        <div class="product-cards">
            <img src="./assets/gallery 6.jpeg" alt="" class="product-cardImage">
        </div>
    </div>
    <div class="videoplayer">
        <video src="./assets/TRINITY PHARMA CARE  Highlight.mp4" autoplay muted></video>
    </div>
</div>
<div class="ourpartnersCaruosel">
    <h1>Our Partners</h1>
    <div class="partnersScroller">
    <ul class="scroller__inner">
        <li><img src="./assets/adler.png" alt=""></li>
        <li><img src="./assets/alpha-pharma.png" alt=""></li>
        <li><img src="./assets/bond.png" alt=""></li>
        <li><img src="./assets/Dana.png" alt=""></li>
        <li><img src="./assets/Emzor.jpg" alt=""></li>
        <li><img src="./assets/Fidson.png" alt=""></li>
        <li><img src="./assets/flogo.png" alt=""></li>
        <li><img src="./assets/Reckitt_logo.png" alt=""></li>
        <li><img src="./assets/HEADER.png" alt=""></li>
        <li><img src="./assets/logo-dark.png" alt=""></li>
        <li><img src="./assets/logo-white-full.png" alt="" style="background-color: black;"></li>
        <li><img src="./assets/logo.jpg" alt=""></li>
        <li><img src="./assets/Sylken-Logo.jpg" alt=""></li>
        <li><img src="./assets/vitabiotics.jpg" alt=""></li>
        <li><img src="./assets/swipha.png" alt=""></li>
        <li><img src="./assets/adler.png" alt=""></li>
        <li><img src="./assets/alpha-pharma.png" alt=""></li>
        <li><img src="./assets/bond.png" alt=""></li>
        <li><img src="./assets/Dana.png" alt=""></li>
        <li><img src="./assets/Emzor.jpg" alt=""></li>
        <li><img src="./assets/Fidson.png" alt=""></li>
        <li><img src="./assets/flogo.png" alt=""></li>
        <li><img src="./assets/Reckitt_logo.png" alt=""></li>
        <li><img src="./assets/HEADER.png" alt=""></li>
        <li><img src="./assets/logo-dark.png" alt=""></li>
        <li><img src="./assets/logo-white-full.png" alt="" style="background-color: black;"></li>
        <li><img src="./assets/logo.jpg" alt=""></li>
        <li><img src="./assets/Sylken-Logo.jpg" alt=""></li>
        <li><img src="./assets/vitabiotics.jpg" alt=""></li>
        <li><img src="./assets/swipha.png" alt=""></li>
    </ul>
</div>
</div>
<div class="calltoactionSection">
    <h1>Seeking a reliable pharmaceutical partner?</h1>
    <div>
        <h3>Where Quality meets Affordability</h3>
        <a href="mailto:trinitypharmacareltd@gmail.com">Contact us now!</a>
    </div>
</div>