<div class="ourpartnersCaruosel">
    <h1>Our Partners</h1>
    <div class="partnersScroller">
    <ul class="scroller__inner">
        <li><img src="./assets/adler.png" alt=""></li>
        <li><img src="./assets/alpha-pharma.png" alt=""></li>
        <li><img src="./assets/bond.png" alt=""></li>
        <li><img src="./assets/Dana.png" alt=""></li>
        <li><img src="./assets/Emzor.jpg" alt=""></li>
        <li><img src="./assets/Fidson.png" alt=""></li>
        <li><img src="./assets/flogo.png" alt=""></li>
        <li><img src="./assets/Reckitt_logo.png" alt=""></li>
        <li><img src="./assets/HEADER.png" alt=""></li>
        <li><img src="./assets/logo-dark.png" alt=""></li>
        <li><img src="./assets/logo-white-full.png" alt="" style="background-color: black;"></li>
        <li><img src="./assets/logo.jpg" alt=""></li>
        <li><img src="./assets/Sylken-Logo.jpg" alt=""></li>
        <li><img src="./assets/vitabiotics.jpg" alt=""></li>
        <li><img src="./assets/swipha.png" alt=""></li>
        <li><img src="./assets/adler.png" alt=""></li>
        <li><img src="./assets/alpha-pharma.png" alt=""></li>
        <li><img src="./assets/bond.png" alt=""></li>
        <li><img src="./assets/Dana.png" alt=""></li>
        <li><img src="./assets/Emzor.jpg" alt=""></li>
        <li><img src="./assets/Fidson.png" alt=""></li>
        <li><img src="./assets/flogo.png" alt=""></li>
        <li><img src="./assets/Reckitt_logo.png" alt=""></li>
        <li><img src="./assets/HEADER.png" alt=""></li>
        <li><img src="./assets/logo-dark.png" alt=""></li>
        <li><img src="./assets/logo-white-full.png" alt="" style="background-color: black;"></li>
        <li><img src="./assets/logo.jpg" alt=""></li>
        <li><img src="./assets/Sylken-Logo.jpg" alt=""></li>
        <li><img src="./assets/vitabiotics.jpg" alt=""></li>
        <li><img src="./assets/swipha.png" alt=""></li>
    </ul>
</div>
</div>
<div class="calltoactionSection">
    <h1>Seeking a reliable pharmaceutical partner?</h1>
    <div>
        <h3>Where Quality meets Affordability</h3>
        <a href="./contact">Contact us now!</a>
    </div>
</div>