<div class="aboutherosection">
  <div></div>
  <h1>About Us</h1>
</div>
<div class="aboutus_storySection">
  <span>
    <img src="../assets/1.jpg" alt="" />
  </span>
  <span>
    <h1>Our <small>Story</small></h1>
    <P>
      Founded In 2023, Trinity Pharmacare Limited is a reputable pharmaceutical
      company based in the vibrant city of Ibadan, Oyo State, Nigeria. We have
      quickly become a trusted name in the industry, specializing in the
      wholesale, distribution, and marketing of pharmaceutical products and
      medical supplies for pharmacies, hospitals, and other healthcare
      providers.
    </P>
    <P>
      Our extensive portfolio includes a wide range of branded and generic
      pharmaceuticals, OTC/items, surgical supplies. medical devices, and
      equipment. Committed to excellence, we bridge the gap between suppliers
      and healthcare providers, ensuring reliable service and allowing you to
      focus on delivering exceptional health outcomes.
    </P>
    <P>
      At Trinity Pharmacare Limited, we are more than just a pharmaceutical
      company: we are your partners in health, committed to making a positive
      difference in the lives of those we serve.
    </P>
    <p>
      <b>Dr. Peters I. Adonu <i>(CEO of Trinity Pharmacare Limited)</i></b>
    </p>
  </span>
</div>
<div class="aboutus_imagesection">
  <span><img src="../assets/gallery 43.jpeg" alt="" /></span>
  <span><img src="../assets/gallery 41.jpeg" alt="" /></span>
</div>
<div class="aboutus_maissionandvisionsection">
  <div id="aboutVision">
    <img src="../assets/telescope (1).png" alt="" />
    <h1>Our Vision</h1>
    <p>
      To be Nigeria's leading pharmaceutical wholesaler with a trusted
      reputation known for quality, affordability, and reliable service.
    </p>
  </div>
  <div id="aboutMission">
    <img src="../assets/goal (1).png" alt="" />
    <h1>Our Mission</h1>
    <p>
      Partnering with health stakeholders across the nation with the aim of
      improving the wellbeing and health of people by offering access to quality
      and affordable pharmaceutical products.
    </p>
  </div>
</div>
<div class="aboutus_corevaluessection" id="aboutValues">
  <div>
    <h1>
      Our <br />
      Core Values
    </h1>
  </div>
  <div>
    <ul>
      <li>Integrity</li>
      <li>Trust in God</li>
      <li>Customer Focus</li>
      <li>Quality</li>
      <li>Excellence</li>
      <li>Teamwork</li>
      <li>Reliability</li>
    </ul>
  </div>
</div>
<div class="aboutus_commitmentsection">
  <span>
    <h1>Our Commitment</h1>
    <p>
      With a national reach and a deep understanding of the healthcare
      landscape, we interact with a wide array of stakeholders, including
      suppliers, pharmaceutical companies, healthcare providers, medical
      schemes, disease managers, and more. Our commitment to reliability and
      service is unwavering, allowing you to focus on delivering optimal health
      outcomes for your patients and customers.
    </p>
  </span>
  <span>
    <img src="../assets/gallery 44.jpeg" alt="" />
  </span>
</div>
<div class="aboutus_speciatiessection">
  <span>
    <h1>Our Specialties</h1>
    <p>
      Trinity Pharmacare specializes in the procurement and distribution of a
      comprehensive range of products, including dispensary and surgical
      supplies, medical devices, and equipment. Our extensive portfolio features
      both branded and generic pharmaceuticals, OTC products, patent medicines,
      complementary medicines, homeopathic remedies, surgical and dental
      products, and much more.
    </p>
  </span>
  <span>
    <img src="../assets/gallery 42.jpeg" alt="" />
  </span>
</div>
