        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 6</div>
                <img src="../assets/gallery 35.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 6</div>
                <img src="../assets/gallery 33.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 6</div>
                <img src="../assets/gallery 3.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">4 / 6</div>
                <img src="../assets/gallery 4.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">5 / 6</div>
                <img src="../assets/gallery 5.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6 / 6</div>
                <img src="../assets/gallery 43.jpeg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>
        </div>
        <br>
        <h1 id="gallery_h">Gallery</h1>
        <div class="row">
            <div class="column">
                <img src="../assets/gallery 1.jpeg">
                <img src="../assets/gallery 2.jpeg">
                <img src="../assets/gallery 3.jpeg">
                <img src="../assets/gallery 4.jpeg">
                <img src="../assets/gallery 5.jpeg">
                <img src="../assets/gallery 13.jpeg">
                <img src="../assets/gallery 40.jpeg">
                <img src="../assets/gallery 35.jpeg">
                <img src="../assets/gallery 36.jpeg">
            </div>
            <div class="column">
                <img src="../assets/gallery 14.jpeg">
                <img src="../assets/gallery 15.jpeg">
                <img src="../assets/gallery 16.jpeg">
                <img src="../assets/gallery 17.jpeg">
                <img src="../assets/gallery 18.jpeg">
                <img src="../assets/gallery 19.jpeg">
                <img src="../assets/gallery 38.jpeg">
                <img src="../assets/gallery 37.jpeg">
            </div>
            <div class="column">
                <img src="../assets/1.jpg">
                <img src="../assets/gallery 20.jpeg">
                <img src="../assets/gallery 22.jpeg">
                <img src="../assets/gallery 21.jpeg">
                <img src="../assets/gallery 23.jpeg">
                <img src="../assets/gallery 24.jpeg">
                <img src="../assets/gallery 25.jpeg">
            </div>
            <div class="column">
                <img src="../assets/gallery 26.jpeg">
                <img src="../assets/gallery 27.jpeg">
                <img src="../assets/gallery 28.jpeg">
                <img src="../assets/gallery 29.jpeg">
                <img src="../assets/gallery 30.jpeg">
                <img src="../assets/gallery 31.jpeg">
                <img src="../assets/gallery 32.jpeg">
                <img src="../assets/gallery 33.jpeg">
                <img src="../assets/gallery 34.jpeg">
                <img src="../assets/gallery 35.jpeg">
            </div>
        </div>