      <div
        id="default-carousel"
        class="relative w-full main_Content-Container"
        data-carousel="slide"
      >
        <!-- Carousel wrapper -->
        <div class="relative h-96 overflow-hidden md:h-24 main_Content-details">
          <!-- Item 1 -->
          <div
            class="hidden flex flex-row duration-700 ease-in-out testing"
            data-carousel-item
          >
            <!-- <div class=" w-full h-full bg-gray-800"></div> -->
            <img
              src="./assets/young-woman-pharmacist-pharmacy.jpg"
              class="w-full h-full carouselImg"
              alt="..."
            />
            <div class="w-full h-full carouselItem">
              <h1>Trinity </h1>
              <h1>Pharmacare</h1>
              <p>
                Your trusted partner in pharmaceutical wholesale and distribution, providing a vast range of product to meet all your health care needs at the best prices
              </p>
              <a href="/contact">Contact Us</a>
            </div>
          </div>
          <!-- Item 2 -->
          <div
            class="hidden duration-700 ease-in-out testing"
            data-carousel-item
          >
            <div class="w-full h-full carouselItemTwo">
              <h1>Discover</h1>
              <h3>Quality at Every Price Point</h3>
              <p class="text-end">
                Quality doesn't have to come with a hefty price tag. We are
                committed to offering competitive pricing without compromising
                on quality
              </p>
              <a href="/contact">Contact Us</a>
            </div>
            <img
              src="./assets/carousel 2.jpeg"
              class="w-full h-full carouselImg"
              alt="..."
            />
          </div>
          <div
            class="hidden flex flex-row duration-700 ease-in-out testing"
            data-carousel-item
          >
            <!-- <div class=" w-full h-full bg-gray-800"></div> -->
            <img
              src="./assets/Carousel 3.jpg"
              class="w-full h-full carouselImg"
              alt="..."
            />
            <div class="w-full h-full carouselItem">
              <h1>National Reach</h1>
              <h3>Efficient Delivery</h3>
              <p>
                Our extensive distribution network ensures delivery to any
                location across Nigeria, meeting the urgent needs of healthcare
                providers.
              </p>
              <a href="/contact">Contact Us</a>
            </div>
          </div>
          <div
            class="hidden flex flex-row duration-700 ease-in-out testing"
            data-carousel-item
          >
            <!-- <div class=" w-full h-full bg-gray-800"></div> -->
            <div class="w-full h-full carouselItemTwo">
              <h1>Experience</h1>
              <h3>The Difference</h3>
              <p>
                Discover unparalleled service and quality with Trinity
                Pharmacare. Experience the difference today.
              </p>
              <a href="/contact">Contact Us</a>
            </div>
            <img
              src="./assets/Carousel 4.jpg"
              class="w-full h-full carouselImg"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="1"
          ></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="1"
          ></button>
        </div>
        <button
          type="button"
          class="absolute carouselButton top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 end-0 z-30 flex carouselButton items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
        <div class="missionAndVisionStatement">
          <div class="visionStatement">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-eye"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                />
                <path
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                />
              </svg>
              Our Vision
            </span>
            <span
              >To be Nigeria's leading pharmaceutical wholesaler with a trusted
              reputation known for quality, affordability, and reliable service.
            </p></span
            >
            <span
              ><a
                href="/about"
                style="text-decoration: underline; font-size: 15px"
                >Learn More</a
              ></span
            >
          </div>
          <div class="missonStatement">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-binoculars"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"
                />
              </svg>
              Our Mission
            </span>
            <span
              >Partnering with health stakeholders across the nation with the aim of
              improving the wellbeing and health of people by offering access to quality
              and affordable pharmaceutical products.</span
            >
            <span
              ><a
                href="/about"
                style="text-decoration: underline; font-size: 15px"
                >Learn More</a
              ></span
            >
          </div>
        </div>
      </div>
      <div class="aboutUsSection">
        <div>
          <img src="./assets/gallery 38.jpeg" alt="...." />
        </div>
        <div>
          <h1>About <span>Us</span></h1>
          <p>
            Founded in 2023, Trinity Pharmacare Limited is a reputable
            pharmaceutical company based in the vibrant city of Ibadan, Oyo
            State, Nigeria. We have quickly become a trusted name in the
            industry, specializing in the wholesale, distribution, and marketing
            of pharmaceutical products and medical supplies for pharmacies,
            hospitals, and other healthcare providers.
          </p>
          <p>
            Our extensive portfolio includes a wide range of branded and generic
            pharmaceuticals, OTC items, surgical supplies, medical devices, and
            equipment.
          </p>
          <a href="/about">Read more</a>
        </div>
      </div>
      <div class="servicesSection">
        <div>
          <h1>Our Services</h1>
          <small></small>
          <a href="/services">Learn more about our services</a>
        </div>
        <div>
          <span>Wholesale</span>
          <span>Distribution</span>
          <span>Marketing</span>
        </div>
      </div>
      <div class="whychooseusSection">
        <h1>Why <small>Choose Us?</small></h1>
        <div class="whychooseucontainer">
        <img src="./assets/TRITRI.png" alt="" />
          <div class="whychooseucontainerDetails">
            <span>
              <h1>Comprehensive Product Line</h1>
              <p>
                We provide a wide range of pharmaceutical solutions to meet all
                your healthcare needs. With wide range of products in our
                portfolio, we provide a one-stop solution for all your
                pharmaceutical and medical supply needs.
              </p>
            </span>
            <span>
              <h1>Free Pickup and Delivery</h1>
              <p>
                We ensure your products reach you on time, every time, at no
                extra cost
              </p>
            </span>
          </div>
          <div class="whychooseucontainerDetails">
            <span>
              <h1>Market Competitive Pricing</h1>
              <p>Trust Trinity Pharmacare for quality at the best prices.</p>
            </span>
            <span>
              <h1>Intelligence and Consultation</h1>
              <p>We provide market intelligence reports and insights to help clients make informed decisions about product selection and pricing</p>
            </span>
          </div>
        </div>
      </div>
      <div class="ourproductSection">
        <div class="main_product">
            <h1>Our Products</h1>
            <span>
                <a href="/products/names">see more of our products</a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                </svg>
            </span>
        </div>
        <div class="main_product-cards">
            <div class="product-cards">
                <img src="./assets/gallery 6.jpeg" alt="" class="product-cardImage">
            </div>
            <div class="product-cards">
                <img src="./assets/gallery 9.jpeg" alt="" class="product-cardImage">
            </div>
            <div class="product-cards">
                <img src="./assets/gallery 10.jpeg" alt="" class="product-cardImage">
            </div>
            <div class="product-cards">
                <img src="./assets/WhatsApp Image 2024-06-19 at 06.21.14.jpeg" alt="" class="product-cardImage">
            </div>
        </div>
        <div class="videoplayer">
            <video src="./assets/TRINITY PHARMA CARE  Highlight.mp4" loop autoplay muted></video>
        </div>
    </div>

    