        <div class="productherosection">
            <div></div>
            <h1>Our Product</h1>
            <a href="/products/names">Product List</a>
        </div>
        <div class="productimages">
            <img src="../assets/gallery 7.jpeg" alt="">
            <img src="../assets/gallery 39.jpeg" alt="">
            <img src="../assets/gallery 40.jpeg" alt="">
        </div>
        <div class="productservicestext">
            <p>At Trinity Pharmacare Ltd, we are committed to providing a comprehensive range of high-quality pharmaceutical products and medical supplies to meet the diverse needs of healthcare providers. Our extensive portfolio includes:</p>
        </div>
        <div class="productservicessection">
            <span>
                <h1>Branded Pharmaceuticals</h1>
                <p>High-quality medications from leading global and local manufacturers.</p>
            </span>
            <span>
                <h1>Generic Pharmaceuticals</h1>
                <p>Cost-effective alternatives that ensure the same efficacy as branded products.</p>
            </span>
            <span>
                <h1>Over-the-counter (OTC) Products</h1>
                <p>A wide variety of non-prescription drugs and health products for everyday needs.</p>
            </span>
            <span>
                <h1>Vitamins and Supplements</h1>
                <p>A selection of essential nutrients to support overall health and wellness.</p>
            </span>
        </div>
        <div class="viewproductlistsection">
            <p>Our commitment to quality and reliability ensures that you have access to the best products for your patients and customers. Explore our categories to find the solutions that meet your needs.</p>
            <a href="/products/names">Product List</a>
        </div>