@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: max-content;
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
}
.navBar{
    z-index: 1111;
    padding-left: 50px;
    padding-right: 50px;
}
.main_Content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_Content-details{
    height: 500px;
}
.carouselItem{
    background: rgb(0,125,188);
background: linear-gradient(270deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.carouselItemTwo{
    background-color: #007dbc;
    
    background: rgb(0,125,188);
background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}
.testing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* position: relative; */
}
.carouselImg{
    width: 40%;
    object-fit: cover;
    height: 100%;
}
.carouselItem h1, .carouselItemTwo h1{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 5.2px;
    color: #fff;
    height: max-content;
    line-height: 3.5rem;
}
.carouselItem h3, .carouselItemTwo h3{
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.623);
}
.carouselItem p, .carouselItemTwo p{
    color: #fff;
    width: 50%;
    
}
.carouselItemTwo p{
    text-align: start;
}
.carouselItem a, .carouselItemTwo a{
    text-decoration: none;
    color: #fff;
    width: max-content;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    border-radius: 20px;
    background-color: #10d4fb8c;
}
.missionAndVisionStatement{
    margin-top: 50px;
    height: max-content;
    border-radius: 4px;
    background-color: #007dbc;
    width: 90%;
    display: flex;
}
.missonStatement, .visionStatement{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.missonStatement span:nth-child(1), .visionStatement span:nth-child(1){
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.missonStatement span:nth-child(2), .visionStatement span:nth-child(2){
    color: #ffffffb6;
    margin-bottom: 20px;
}
.missonStatement span:nth-child(3){
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.visionStatement span:nth-child(3){
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff69;
}
.visionStatement span:nth-child(3) small{
    display: flex;
    gap: 5px;
}
.visionStatement span:nth-child(3) small:nth-child(2){
    font-weight: 400;
}

/*  tablet responsiveness for carousel section  */

@media screen and (max-width:900px){
    .navBar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navBar > div{
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0px;
    }
    .aboutUsLink{
        width: max-content;
    }
    .navBar > div > a{
        width: 100%;
    }
    .navBar > div > a > img{
        object-fit: contain;
    }
    .carouselItem{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #0d0d0e67;
        background: linear-gradient(90deg, #0d0d0e67 0%, #0d0d0e67 100%);
        padding-left: 70px;
    }
    .carouselItemTwo{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #0d0d0e67;
        background: linear-gradient(90deg, #0d0d0e67 0%, #0d0d0e67 100%);
        align-items: flex-end;
        text-align: end;
        padding-right: 70px;
    }
    .carouselImg{
        width: 100%;
    }
    .carouselItemTwo{
        align-items: flex-start;
        text-align: end;
        padding-right: 70px;
    }
    .carouselItem h1, .carouselItemTwo h1{
        font-size: 36px;
    line-height: 2.5rem;

    }
    .carouselItem h3, .carouselItemTwo h3{
        font-size: 24px;
    }
    .carouselItem p, .carouselItemTwo p{
        width: 90%;
    }
    .carouselItem a, .carouselItemTwo a{
        width: max-content;
    }
    .missionAndVisionStatement{
        height: max-content;
        flex-direction: column;
        width: 90%;
    }
}

/*  mobile responsiveness for carousel section */

@media screen and (max-width:500px){
    .navBar{
        z-index: 111;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navBar > div{
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px;
    }
    .navBar > div > a{
        width: 50%;
    }
    .carouselItem{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #0d0d0e67;
        /* background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%); */
        padding-left: 30px;
        padding-right: 30px;
    }
    .carouselButton span{
        width: 10px;
        height: 10px;
    }
    .carouselItemTwo{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #0d0d0e67;
        /* background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%); */
        align-items: flex-start;
        text-align: start;
        padding-left: 30px;
        padding-right: 30px;

    }
    .carouselImg{
        width: 100%;
    }
    .carouselItem h1, .carouselItemTwo h1{
        font-size: 28px;
    line-height: 2rem;

    }
    .carouselItem h3, .carouselItemTwo h3{
        font-size: 20px;
    }
    .carouselItem p, .carouselItemTwo p{
        width: 100%;
    }
    .carouselItem a, .carouselItemTwo a{
        width: max-content;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .missionAndVisionStatement{
        height: max-content;
        flex-direction: column;
        width: 90%;
    }
}

/* about us section */
.aboutUsSection{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    height: max-content;
    margin-top: 50px;
}
.aboutUsSection div{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 800px;
}
.aboutUsSection div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutUsSection div > h1{
    font-size: 48px;
    font-weight: 600;
    color: black;
    padding-left: 50px;
}
.aboutUsSection div > h1 span{
    color: #007dbc9c;
}
.aboutUsSection div > p{
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}
.aboutUsSection div > a{
    margin-left: 50px;
    background-color: rgb(53, 52, 52);
    width: max-content;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

/*  tablet responsiveness for about us section */

@media screen and (max-width:900px){
    .aboutUsSection{
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
    }
    .aboutUsSection div > h1{
        padding-left: 10px;
        text-align: left;
    }
    .aboutUsSection div > p{
        font-size: 20px;
        padding-left: 10px;
    }
    .aboutUsSection div > a{
        margin-left: 10px;
        padding: 5px;
    }
}

/* mobile responsiveness for about us section */

@media screen and (max-width:450px){
    .aboutUsSection{
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
    }
    .aboutUsSection div > h1{
        padding-left: 0px;
        text-align: center;
    }
    .aboutUsSection div > p{
        font-size: 18px;
        padding-left: 10px;
    }
    .aboutUsSection div > a{
        margin-left: 10px;
        padding: 5px;
    }
}

/* Services Section */
.servicesSection{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    margin-top: 100px;
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #06175d;
}
.servicesSection div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.servicesSection div h1{
    font-size: 48px;
    color: white;
    font-weight: 600;
}
.servicesSection div small{
    width: 40%;
    background-color: gray;
    height: 1.5px;
}
.servicesSection div a{
    color: white;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
.servicesSection div a:hover{
    text-decoration: underline;
}
.servicesSection div span{
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    border-top-right-radius: 40px;
    color: white;
    font-size: 24px;
    background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
}

/*  tablet responsiveness for Services section */

@media screen and (max-width:900px){
    .servicesSection{
        height: max-content;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .servicesSection div h1{
        font-size: 36px;
    }
    .servicesSection div small{
        width: 20%;
    }
    .servicesSection div span{
        padding: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-top-right-radius: 40px;
        font-size: 24px;
    }
}

@media screen and (max-width:850px){
    .servicesSection div:nth-child(2){
        flex-direction: column;
        gap: 30px;
        align-items: start;
        
    }
    .servicesSection div h1{
        font-size: 24px;
    }
    .servicesSection div small{
        width: 20%;
    }
    .servicesSection div span{
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
        border-top-right-radius: 0px;
        font-size: 24px;
        width: 100%;
    }
}

/*  mobile responsiveness for Services section */

@media screen and (max-width:450px){
    .servicesSection{
        height: max-content;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    } 
.servicesSection div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicesSection div:nth-child(2){
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.servicesSection div h1{
    font-size: 24px;
}
.servicesSection div small{
    display: none;
}
.servicesSection div a{
    font-size: 12px;
}
.servicesSection div span{
    padding: 30px;
    border-top-right-radius: 0px;
    width: 70%;
}
}

/* why choose us Section */
.whychooseusSection{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: max-content;
    gap: 20px;
}
.whychooseusSection > h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.whychooseusSection > h1 small{
    font-size: 48px;
    font-weight: 600;
    color: #007dbc;
}

.whychooseucontainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.whychooseusSection .whychooseucontainer > img{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    position: absolute;
    top: 44%;
    right: 47.5%;
}
.whychooseucontainerDetails{
    width: 100%;
    display: flex;
    height: max-content;
}
.whychooseucontainerDetails:nth-child(2){
    border-bottom: 2px solid gray;
}
.whychooseucontainerDetails > span{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-bottom: 20px;
    padding-top: 50px;
}
.whychooseucontainerDetails > span:nth-child(2){
    padding-left: 40px;
    border-left:2px solid gray ;
}
.whychooseucontainerDetailsA span:nth-child(2){
    padding-left: 40px;
    border-left: 2px solid gray;

}
.whychooseucontainerDetails span > h1{
    font-size: 36px;
    color: rgb(46, 46, 46);
    font-weight: 600;
    margin-bottom: 10px;
}
.whychooseucontainerDetails span > p{
    font-size: 20px;
    color: gray;
}

@media screen and (max-width:900px) {
    .whychooseucontainerDetails:nth-child(1){
        padding-right: 40px;
        border-right: 2px solid gray;
    }
    .whychooseucontainerDetailsA span:nth-child(1){
        border-right: none;

    }
    .whychooseucontainerDetailsA span:nth-child(2){
        padding-left: 40px;
        border-left: 2px solid gray;

    }
    .whychooseucontainerDetails > span:nth-child(2){
        border-left:none ;
    }
}

/* tablet responsiveness of why choose us */
@media screen and (max-width:790px) {
    .whychooseusSection .whychooseucontainer > img{
        top: 45%;
    }
    .whychooseucontainerDetails:nth-child(1){
        border-bottom: 2px solid gray;
    }
    .whychooseucontainerDetails > span{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-bottom: 20px;
        padding-top: 50px;
    }
    .whychooseucontainerDetails:nth-child(1){
        padding-right: 40px;
        border-right: 2px solid gray;
    }
    .whychooseucontainerDetailsA span:nth-child(1){
        border-right: none;

    }
    .whychooseucontainerDetailsA span:nth-child(2){
        padding-left: 40px;
        border-left: 2px solid gray;

    }
}

/*  mobile responsiveness why choose us section */
@media screen and (max-width:750px) {
    .whychooseusSection{
        padding-left: 10px;
        padding-right: 10px;
        gap: 20px;
    }
    .whychooseusSection > h1{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
    }
    .whychooseusSection > h1 small{
        font-size: 28px;
        font-weight: 600;
        color: #007dbc;
    }
    .whychooseusSection .whychooseucontainer > img{
        display: none;
    }
    .whychooseucontainerDetails{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .whychooseucontainerDetails{
        border-bottom: none;
    }
    .whychooseucontainerDetails > span{
        height: 260px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .whychooseucontainerDetails > span:nth-child(1){
        padding-right: 10px;
        border-right: none;
        border-top: none
    }
    .whychooseucontainerDetails > span:nth-child(2){
        padding-left: 10px;
        border-right: none;
        border-top: none;
    }
    .whychooseucontainerDetails span > h1{
        font-size: 20px;
        color: rgb(46, 46, 46);
        font-weight: 600;
        text-align: start;
        margin-bottom: 10px;
        padding-left: 10px;
        position: relative;
    }
    .whychooseucontainerDetails span > h1::before{
        content: '';
        width: 5px;
        background: black;
        height: 5px;
        border-radius: 100px;
        position: absolute;
        top: 45%;
        left: 0%;
    }
    .whychooseucontainerDetails span > p{
        font-size: 20px;
        color: gray;
    }
    .whychooseucontainerDetails:nth-child(1) > span:nth-child(1){
        padding-left: 50px;
    }
    .whychooseucontainerDetailsA span:nth-child(1){
        width: 100%;
    }
    .whychooseucontainerDetailsA span:nth-child(2){
        border-left: none;
        padding-left: 10px;
        width: 100%;
    }




    .whychooseucontainerDetails:nth-child(2){
        border-bottom: none;
    }
    .whychooseucontainerDetails > span:nth-child(1){
        padding-right: 0px;
        border-right: none;
    }
    .whychooseucontainerDetails > span:nth-child(2){
        padding-left: 0px;
    }
    .whychooseucontainerDetails span > p{
        font-size: 20px;
        color: gray;
    }
}

/* our product section */
.ourproductSection{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
.main_product{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-self: center;
    justify-self: center;
}
.main_product h1{
    font-size: 48px;
    font-weight: 600;
    color: #036ea3;
    position: relative;
}
.main_product h1::before{
    content: '';
    width: 5%;
    background: rgb(78, 78, 78);
    height: 4px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
}
.main_product span{
    display: flex;
    align-self: flex-end;
    gap: 5px;
}
.main_product span a{
    text-decoration: none;
    color: #036ea3;
    transition: color 0.5s ease-in-out;
}
.main_product span a:hover{
    color: #10d3fb;
}
.main_product span svg{
    color: #036ea3;
    transition:0.5s ease-in-out;
}
.main_product span:hover svg{
    transform: translateX(5px);
}
.main_product-cards{
    width: 95%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.product-cards{
    height: 300px;
    width: 22%;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.377);
    overflow: hidden;
    border-radius: 4px;
}
.product-cardImage{
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: cover;
    transition: 0.5s ease-in-out;

}
.product_cardDetails{
    height: 15%;
    width: 100%;
    color: #036ea3;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cards:hover .product-cardImage{
    object-fit: cover;
}
.videoplayer{
    margin-top: 50px;
    width: 70%;
    height: 300px;
}
.videoplayer video{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* mobile responsiveness of product section */

@media screen and (max-width:900px){
    .main_product{
        margin-top: 0px;
        height: max-content;
        height: max-content;
    }
    .main_product h1::before{
        width: 10%;
    }
    .main_product-cards{
        row-gap: 50px;
    }
    .product-cards{
        width: 45%;
    }
    .videoplayer{
        width: 80%;
    }
}

/* mobile responsiveness of product section */

@media screen and (max-width:450px){
    .ourproductSection{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main_product{
        padding-left: 10px;
        padding-right: 10px;
    }
    .main_product h1{
        font-size: 24px;
    }
    .main_product-cards{
        flex-direction: column;
        align-items: center;
    }
    .product-cards{
        height: 400px;
        width: 98%;
        margin-bottom: 40px;
    }
    .videoplayer{
        margin-top: 50px;
        width: 90%;
        height: 300px;
    }
}

/* our partners section */
.ourpartnersCaruosel{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: max-content;
    margin-top: 70px;
    gap: 20px;
}
.ourpartnersCaruosel h1{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #007dbc;
}
.partnersScroller{
    max-width: 100%;
    height: max-content;
    padding: 10px;
}
.ourpartnersCaruosel ul{
    width: 100%;
    flex-wrap: wrap;
    height: max-content;
    display: flex;
    gap: 30px;
}
.ourpartnersCaruosel ul li{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px gray;
}
.ourpartnersCaruosel ul li img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: contain;
}
.partnersScroller[data-animated= "true"]{
    overflow: hidden;
}

.partnersScroller[data-animated= "true"] .scroller__inner{
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 30s linear infinite;

}

@keyframes scroll{
    to{
        transform: translate(calc(-50% - 15px));
    }
}

/* mobile responsiveness for partners section */
@media screen and (max-width:450px){
    .ourpartnersCaruosel ul li{
        width: 100px;
        height: 50px;
    }
}


/* call to action Section */
.calltoactionSection{
    width: 93%;
    border-radius: 30px;
    margin-top: 70px;
    height: max-content;
    padding: 80px;
    display: flex;
    flex-direction: column;
    background-color: #007dbc;
    background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
}
.calltoactionSection h1 {
    font-size: 48px;
    font-weight: 600;
    color: white;
    text-align: start;
}
.calltoactionSection div{
    display: flex;
    width: 97%;
    justify-content: space-between;

}
.calltoactionSection div h3{
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
}
.calltoactionSection div a{
    padding: 10px;
    min-width: max-content;
    max-width: 30%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
    color: #06175d;
    transition: 0.5s ease-in-out;
    height: max-content;
}
.calltoactionSection div a:hover{
    text-decoration: underline;
}

@media screen and (max-width:900px) {
    .calltoactionSection h1 {
        font-size: 28px;
    }
    .calltoactionSection div a{
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }    .calltoactionSection div{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}

/* mobile responsiveness for call to action section */
@media screen and (max-width:600px) {
    .calltoactionSection{
        padding: 20px;
    }
    .calltoactionSection h1 {
        font-size: 22px;
        line-height: 1.5rem
    }
    .calltoactionSection div{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .calltoactionSection div h3{
        font-size: 18px;
    }
    .calltoactionSection div a{
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
        width: max-content;
    }
}
/* footer section */

.footer_Details{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    width: 100%;
    height: max-content;
}
.footer-info{
    width: 100%;
    background-color: #06175d;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 70px;
}
.footer-info div{
    height: 85%;
    /* width: 23%; */
    display: flex;
    flex-direction: column;
}
.footer-info-addressandContactDetails{
    width: 30%;
}
.footer-info-aboutUs, .footer-info-ourServices{
    width: max-content;
}
.footer-info-hospitalHours{
    width: 25%;
}
@media screen and (max-width:900px) {
    .footer-info-hospitalHours{
        width: 49%;
    }
}
.footer-info-addressandContactDetails img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.footer-info-addressandContactDetails address{
    width: 90%;
    color: white;
    margin-bottom: 20px;
}
.footer-info-addressandContactDetails p{
    color: white;
    font-size: 13px;
    display: flex;
    gap:10px;
    margin-bottom: 10px;
    font-weight: 400;
    width: 100%;
}
.footer-info-addressandContactDetails .copyright_socials{
    margin-top: 50px;
    display: flex;
    width: max-content;
    flex-direction: column;
    height: max-content;
}
.footer-info-addressandContactDetails .copyright_socials small{
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.footer-info-addressandContactDetails .copyright_socials div{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    gap: 10px;
}
.footer-info-addressandContactDetails .copyright_socials a{
    background-color: white;
}
.footer-info-addressandContactDetails .copyright_socials a:last-child{
    background-color: rgb(81, 253, 81);
}
.footer-info-addressandContactDetails .copyright_socials a svg{
    color: #06175d;
}
.footer-info-addressandContactDetails .copyright_socials a:last-child svg{
    color: white;
}
#footer-info-aboutUs-header, #footer-info-ourServices-header, #footer-info-hospitalHours-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-transform: capitalize;
}
.footer-info-aboutUs a, .footer-info-ourServices a{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}
.footer-info-aboutUs a:hover, .footer-info-ourServices a:hover{
    color: white;
    text-decoration: underline;

}
.footer-info-hospitalHours p{
    width:100% ;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #007dbc23;
    padding-bottom: 5px;
    height: max-content;
    margin-bottom: 20px;
}
.footer-info-hospitalHours p span{
    display: flex;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-info-hospitalHours p span small:nth-child(1){
    font-size: 16px;
    width: 50%;
}
.footer-info-hospitalHours p span small{
    font-size: 13px;
}
.copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 5px;
}
.copyright_socials{
    display: flex;
    gap: 10px;
}
.copyright_socials a{
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 50px;
    background-color: #007dbc;
}
.copyright_socials a svg{
    color: white;
}
.copyright span{
    color: rgba(128, 128, 128, 0.623);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
}

/* mobile responsiveness for footer section */
@media screen and (max-width:1160px){
    .footer-info-hospitalHours{
        width: 50%;
    }
}
@media screen and (max-width:677px){
    .footer_Details{
        margin-top: 50px;
    }
    .footer-Contact_info{
        flex-direction: column;
        height: 600px;
    }
    .footer-Contact_info div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        border-left: none;
        border-bottom:1px solid rgba(0, 0, 0, 0.082) ;
    }
    .footer-info{
        padding-top:50px;
        gap:30px;
        height:max-content;
        flex-direction: column;
    }
    .footer-info div{
        width: 100%;
    }
    .footer-info-addressandContactDetails img{
        width: 20%;
        height: 25%;
    }
    .footer-info-hospitalHours p span{
        width: 100%;
    }
    .copyright{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        font-size: 15px;
    }
}
