*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: max-content;
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.navBar{
    z-index: 1111;
    padding-left: 50px;
    padding-right: 50px;
}
.main_Content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_Content-details{
    height: 500px;
}
.carouselItem{
    background: rgb(0,125,188);
background: linear-gradient(270deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.carouselItemTwo{
    background-color: #007dbc;
    
    background: rgb(0,125,188);
background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}
.testing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* position: relative; */
}
.carouselImg{
    width: 40%;
    object-fit: cover;
    height: 100%;
}
.carouselItem h1, .carouselItemTwo h1{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 5.2px;
    color: #fff;
}
.carouselItem h3, .carouselItemTwo h3{
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.623);
}
.carouselItem p, .carouselItemTwo p{
    color: #fff;
    width: 50%;
    
}
.carouselItemTwo p{
    text-align: end;
}
.carouselItem a, .carouselItemTwo a{
    text-decoration: none;
    color: #fff;
    width: 20%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    border-radius: 20px;
    background-color: #10d4fb8c;
}
.missionAndVisionStatement{
    position: absolute;
    top: 105%;
    width: 89%;
    height: max-content;
    border-radius: 4px;
    background-color: #007dbc;
    display: flex;
    margin-left: 66px;
}
.missonStatement, .visionStatement{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.missonStatement span:nth-child(1), .visionStatement span:nth-child(1){
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.missonStatement span:nth-child(2), .visionStatement span:nth-child(2){
    color: #ffffffb6;
    margin-bottom: 20px;
}
.missonStatement span:nth-child(3){
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.visionStatement span:nth-child(3){
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff69;
}
.visionStatement span:nth-child(3) small{
    display: flex;
    gap: 5px;
}
.visionStatement span:nth-child(3) small:nth-child(2){
    font-weight: 400;
}
@media screen and (max-width:450px){
    .navBar{
        z-index: 111;
        padding-left: 10px;
        padding-right: 10px;
    }
    .carouselItem{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #007dbc67;
        background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%);
        padding-left: 10px;
    }
    .carouselItemTwo{
        /* display: none; */
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #007dbc67;
        background: linear-gradient(90deg, #007dbc67 0%, rgba(87, 199, 255, 0.24) 100%);
        align-items: flex-end;
        text-align: end;
        padding-right: 10px;
    }
    .carouselImg{
        width: 100%;
    }
    .carouselItem h1, .carouselItemTwo h1{
        font-size: 36px;
    }
    .carouselItem h3, .carouselItemTwo h3{
        font-size: 24px;
    }
    .carouselItem p, .carouselItemTwo p{
        width: 90%;
    }
    .carouselItem a, .carouselItemTwo a{
        width: 40%;
    }
    .missionAndVisionStatement{
        height: max-content;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
}

/* about us section */
.aboutUsSection{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    height: max-content;
    margin-top: 350px;
}
.aboutUsSection div{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.aboutUsSection div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutUsSection div > h1{
    font-size: 48px;
    font-weight: 600;
    color: gray;
    padding-left: 50px;
}
.aboutUsSection div > h1 span{
    color: #007dbc9c;
}
.aboutUsSection div > p{
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}
.aboutUsSection div > a{
    margin-left: 50px;
    background-color: rgb(53, 52, 52);
    width: max-content;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

/* Services Section */
.servicesSection{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #06175d;
}
.servicesSection div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.servicesSection div h1{
    font-size: 48px;
    color: white;
}
.servicesSection div small{
    width: 40%;
    background-color: gray;
    height: 1.5px;
}
.servicesSection div a{
    color: white;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
.servicesSection div a:hover{
    text-decoration: underline;
}
.servicesSection div span{
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    border-top-right-radius: 40px;
    color: white;
    font-size: 24px;
    background: linear-gradient(90deg, rgba(0,125,188,1) 0%, rgba(87,199,255,1) 100%);
}

/* why choose us Section */
.whychooseusSection{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: max-content;
    gap: 20px;
}
.whychooseusSection > h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.whychooseusSection > h1 small{
    color: #007dbc;
}
.whychooseusSection > img{
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    top: 315px;
    left: 642px;
    width: 5%;
}
.whychooseucontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.whychooseucontainerDetails{
    width: 100%;
    display: flex;
}
.whychooseucontainerDetails:nth-child(1){
    border-bottom: 2px solid gray;
}
.whychooseucontainerDetails > span{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 260px;
    padding-bottom: 20px;
    padding-top: 50px;
}
.whychooseucontainerDetails > span:nth-child(1){
    padding-right: 40px;
    border-right: 2px solid gray;
}
.whychooseucontainerDetails > span:nth-child(2){
    padding-left: 40px;
}
.whychooseucontainerDetails span > h1{
    font-size: 36px;
    color: rgb(46, 46, 46);
    font-weight: 600;
    margin-bottom: 10px;
}
.whychooseucontainerDetails span > p{
    font-size: 20px;
    color: gray;
}