.product_mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-bottom: 50px;
    align-items: center;
}
.product_mainContent_landingview{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-image: url('../assets/gallery\ 46.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -120px;
    position: relative;
}
.product_mainContent_landingview_cover{
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
#product_mainContent_landingview_h{
    font-size: 64px;
    font-weight: 700;
    padding-left: 50px;
    color: white;
    z-index: 1;
}
.product_mainContent_landingview span{
    color: white;
    padding-left: 50px;
    font-weight: 500;
    z-index: 1;
    font-size: 24px;
    margin-bottom: 30px;
}
.productlist{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 40px;
}
.productlist ul{
    list-style: disc;
    width: 30%;
}
.productlist ul h1{
    font-size: 24px;
    font-weight: 700;
}
@media screen and (max-width:450px){
    .product_mainContent_landingview{
        height: 200px;
        background-position: 0px 0px;
    }
    #product_mainContent_landingview_h{
        font-size: 48px;
        padding-left: 10px;
    }
    .product_mainContent_landingview span{
        padding-left: 10px;
    }
    .productlist ul{
        width: 100%;
    }
    .productlist ul h1{
        font-size: 18px;
    }
}